{{!-- <div class="card">
<div class="card-title all-posts">All Posts
</div>
</div> --}}

<h2>Create a New Post</h2>

<form id="new-post-form">
  <label for="post-title">Title</label><br>
  <input class="form-input" type="text" id="post-title" name="post-title" /><br>
  <label for="post-content">Content</label><br>
  <input class="form-input" type="textarea" id="post-content" name="post-content" /><br>
  <button type="submit">Create</button>
</form>

{{#each posts as |post|}}
<h2>
  <a href="/post/{{post.id}}">{{post.title}}</a>
</h2>
<p class="post-body">
  {{post.post_body}}
</p>
<p class="post-footer">
  {{post.user_id}} on {{post.post_date}}
</p>
{{/each}}